#inside-spacing {
    margin-top: 50 px;
    margin-bottom: 50 px;
}
#content {
    margin-top: 50px;
    margin-bottom: 50 px;
    width: 875px;
    background-color: white

}
#content {
    border-left: 5px solid rgb(255, 231, 126);
    border-left-color: rgb(255, 231, 126);
    border-left-style: solid;
    border-left-width: 5px;
    border-right: 5px solid rgb(255, 235, 144);
    border-right-color: rgb(255, 235, 144);
    border-right-style: solid;
    border-right-width: 5px;
    border-top: 5px solid rgb(255, 231, 126);
    border-top-color: rgb(255, 231, 126);
    border-top-style: solid;
    border-top-width: 5px;
    border-bottom: 5px solid rgb(255, 235, 144);
    border-bottom-color: rgb(255, 235, 144);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

 body {
     background-image: url(background.png)
 }   